* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.top {
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0px;
    
    background: #222222;
}

.top .ofertas{
    display: flex;
    color: #FFFFFF;
}

.top .price{
    display: flex;
    gap: 10px;
}

.idioma{
    position: relative;
    left: 1550px;
    top: -20px;
    color: #FFFFFF;
}

.moneda{
    position: relative;
    left: 1650px;
    top: -38px;
    color: #FFFFFF;
}

.ofertas{
    color: white;
}

.container_header {
    display: flex;
    background: #F0A83E;
    justify-content: space-around;
    height: 60px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    width: 100%;
    top: 20px;
}

.logo {
    display: flex;
}

.front1 {
    position: relative;
    top: 10px;
    left: -200px;
}

.catDog1 {
    position: relative;
    top: 29px;
    left: -200px;
    padding-left: 3px;
    color: #FFFFFF;
}

.imgCat{
    position: relative;
    top: 20px;
    left: -18px;
}

.imgDog{
    position: relative;
    top: 5px;
    padding-left: 3px;
}

.nav-item {
  position: relative;
  top: 29px ;
  left: 150px;
}

.nav-item{
    text-decoration: none;
    color: white;
}

.icon_patita{
    position: relative;
    padding-left: 3px;
}

main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 82px;
}

.slide_container {
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 550px;
    width: 100%;
    position: relative;
    top: -22px;
}

.slide-h2{
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    color:rgba(60, 35, 19, 1);
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.slide-p {
    color: white;
    text-align: end;
    position: relative;
    left: -70px;
    padding: 20px;
}

.slide-a {
    text-decoration: none;
    color: white;
    background: rgba(240, 168, 62, 1);
    padding: 20px;
    width: 135px;
    margin-right: 20px;
    position: relative;
    left: -90px;
}

.container_section{
    display: flex;
    flex-direction: column;
   /*  justify-content: center; */
    align-items: center;
}

.icon_product {
    height: 84px;
    margin-top: 33px;
    width: 90px;
    justify-content: center;
}

.productos_destacados{
    display: flex;
    flex-direction: column;
}

.product_title{
    text-align: center;
    color: rgba(60, 35, 19, 1);
    line-height: 47px;
    font-size: 40px;
    justify-content: center;
    margin-bottom: 10px;
}

.links{
    color: rgba(102, 102, 102, 1);
    text-decoration: none;
    gap: 25px;
    display: flex;
    justify-content: center;
}

#cards_productos{
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.card{
    text-align: center;
   margin-top: 40px;
   background: #FBFAF6;
   width: 240px;
}

.product_name{
    color: #3C2313;
    padding-bottom: 5px;
}

.product_price{
    color: #F0A83E;
    padding-bottom: 5px;
}

.contact-title {
    text-align: center;
    color: rgba(60, 35, 19, 1);
    font-size: 40px;
    margin-top: 10px;
}

.form_container{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.text-contact {
    display: flex;
    position: relative;
    left: 700px;
    background-color: rgba(60, 35, 19, 1);
    width: 500px;
    height: 40px;
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 3px;
    color: rgba(171, 156, 156, 1);
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 45px;
}

.reset-btn {
    
    background-color: rgba(138, 135, 135, 1);
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    width: 500px;
    height: 45px;
    border-radius: 25px;
    text-align: center;
    line-height: 45px;    
}

.send-btn {
    background-color: rgba(240, 168, 62, 1);
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    width: 500px;
    height: 45px;
    border-radius: 25px;
    text-align: center;
    line-height: 45px;
}

#suscripcion_container{
    background: #F0A83E;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    position: relative;
    top: 1500px;
}

.suscription{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    position: relative;
    left: -200px;
}

.icon_subscription{
    padding-right: 10px;
}

.suscription_title{
    color: rgba(255, 255, 255, 1);
}

.suscription_form{
    display: flex;
    text-align: center;
    padding-left: 30px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.suscription-input {
    background-color:rgba(255, 255, 255, 1);
    width: 400px;
    height: 40px;
    border-radius: 15px;
    padding-left: 5px;
}

.suscription-btn {
    background-color: rgba(60, 35, 19, 1);
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    width: 20%;
    height: 35px;
    border-radius: 15px;
    text-align: center;
}

.footer-section {
    background-color: #3C2313;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 1500px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contact {
    display: block;
}

.front{
    position: relative;
    top: 100px;
    left: 700px;
}

.icon-cat{
    position: relative;
    top: 22px;
    left: -20px;
}

.catDog{
    position: relative;
    top: 119px;
    left: 703px;
}

.icon-dog{
    position: relative;
    top: -20px;
    left: 78px;
}

.contact-card {
    display: flex;
    align-items: left;
    margin-bottom: 10px;
    width: 300px;
    gap: 30px;
}

.info-card-contact {
    color: rgba(255, 255, 255, 1);
}

.text-card-contact {
    color: rgba(138, 135, 135, 1);
}

.footer-black {
    display: flex;
    background-color:rgba(34, 34, 34, 1) ;
    justify-content: center;
    position: relative;
    top: 1500px;
}

.footer-rights {
    align-items: center;
    color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 1440px) {
    .top {
        display: flex;
        justify-content: space-between;
    }
    .nav-menu {
        display: flex;
    }
    /* .nav-shadow {
        display: none;
    } */
    .slide_container {
        justify-content: space-between;
    }

    .logo {
        padding-left: 30px;
    }

    .slide-h2 {
        margin-right: 60px;
    }

    .slide-p {
        margin-right: 114px;
    }
    .slide-a {
        margin-right: 150px;
    }
    .cards_productos {
        margin-left: 50px;
        margin-right: 50px;
    }

    #formulario {
        display: flex;
        width: 350px;
        justify-content: center;
        margin-left: 550px;
    }

    .suscription_container {
        display: flex;
        justify-content: space-between;
    }

    .suscription {
        margin-left: 20px;
    }

    .suscription_form {
        justify-content: flex-start;
    }

    .suscription-input {
        width: 400px;
    }
    
    .footer-section {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .footer-container {
        margin-right: 60px;
    }

    .footer-contact{
        margin-left: 60px;
    }

    .contact-card {
        width: 300px;
        /* height: 60px; */
        padding-top: 20px;
    }
}
    
